[submodule "hardcaml_uart"]
	path = hardcaml_uart
	url = git@github.com:jawline/hardcaml_uart.git
[submodule "hardcaml_io_framework"]
	path = hardcaml_io_framework
	url = git@github.com:jawline/hardcaml_io_framework.git
[submodule "hardcaml_custom_handshake"]
	path = hardcaml_custom_handshake
	url = git@github.com:jawline/hardcaml_custom_handshake.git
[submodule "hardcaml_memory_controller"]
	path = hardcaml_memory_controller
	url = git@github.com:jawline/hardcaml_memory_controller.git
